{{>main_head}}

<script type="text/javascript">
    $(function() {

        var table = $('#contractors-table').DataTable( {
            "ajax": {
                "url": '/contractors/list',
                "dataSrc": "data"
            },
            "language": {
                "url": "/dataTables.russian.lang"
            },
            "order": [[2,'asc']],
            "columns": [
                {"data": "id",
                    "render": function (data, type, full, meta) {
                        return '<a href="/contractors/edit?id=' + data + '">' + data + '</a>'; }
                },
                { "data": "name" },
                { "data": "contractor_group_name" },
                { "data": "creation" },
                { "data": "description" },
                { "data": "contact_address" },
                { "data": "contact_phone" }
            ],
            columnDefs: [ {
                targets: 3,
                render: $.fn.dataTable.render.moment( 'DD.MM.YYYY HH:mm' )
            } ]
        } );

        $('#contractors-table tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');

                $('#contractor_id').val("");
            } else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');

                $('#contractor_id').val(table.row( this ).data().id);
            }
        } );

    });

</script>
<div class="container site-main">
    <form action="/documents/edit" method="post">
        <input type="hidden" name="contractor_id" id="contractor_id" />
        <table id="contractors-table" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Группа</th>
                <th>Создание</th>
                <th>Описание</th>
                <th>Адрес</th>
                <th>Телефон</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="payment_method_id">Тип платежа</label>
                {{#each payment_methods_list}}
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="payment_method_id" value="{{this.id}}" checked>
                            {{this.name}}
                        </label>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="document_type_id">Тип документа</label>
                {{#each document_types_list}}
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="document_type_id" value="{{this.id}}" checked>
                        {{this.name}}
                    </label>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-3">
                <label for="creation">Дата</label>
                <input type="datetime-local" name="creation" value="{{creation}}" id="creation">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-3">
                <label for="agent_id">Агент</label>
                <select class="form-control" id="agent_id" name="agent_id">
                    <option value=""></option>
                    {{#each agents_list}}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-3">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>
</div>