{{>main_head}}

<script>
    $(function() {
        var table = $('#contractors-table').DataTable( {
            "ajax": {
                "url": '/contractors/list',
                "dataSrc": "data"
            },
            "language": {
                "url": "/dataTables.russian.lang"
            },
            "order": [[2,'asc']],
            "columns": [
                {"data": "id",
                    "render": function (data, type, full, meta) {
                        return '<a href="/contractors/edit?id=' + data + '">' + data + '</a>'; }
                },
                { "data": "name" },
                { "data": "contractor_group_name" },
                { "data": "creation" },
                { "data": "description" },
                { "data": "contact_address" },
                { "data": "contact_phone" }
            ],
            columnDefs: [ {
                targets: 3,
                render: $.fn.dataTable.render.moment( 'DD.MM.YYYY HH:mm' )
            } ],
            "initComplete": function(settings, json) {
                var contractorId = $('#contractor_id').val();
                table.rows().data().each(function(v, index){
                  if (v.id == contractorId) {
                      var currentPage = Math.floor(index / table.page.len());
                      table.page(currentPage).draw(false);
                      $('#contractors-table tr').each(function () {
                          if ($(this)[0].firstChild.innerText === contractorId) {
                            $(this).addClass("selected");
                          }
                      });
                  }
                });
            }
        } );

        $('#contractors-table tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');

                $('#contractor_id').val("");
            } else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');

                $('#contractor_id').val(table.row( this ).data().id);
            }
        } );


        var financeProductsIndex = 0;

        $("#finance_product_add").on("click", function() {
            addFinanceOperationInputs();
        });

       function addFinanceOperationInputs(productId, price, quantity) {
            let index = ++financeProductsIndex;
            let html =
                    '<div class="row">' +
                    '<div class="form-group col-sm-3">' +
                    '<label for="finance_products_list'+index+'">Товар</label>' +
                    '<select class="form-control" id="finance_products_ids'+index+'" name="finance_products_ids" finance_product_index="'+index+'">' +
                    '<option value="" price=""></option>' +
                        {{#each finance_products_list}}
                        '<option value="{{this.id}}" price="{{this.price}}" ' +
                                (productId == "{{this.id}}" ? "selected" : "") +
                                ' >{{this.name}}</option>' +
                        {{/each}}
                    '</select>' +
                    '</div>' +
                    '<div class="form-group col-sm-3">' +
                    '<label for="finance_products_quantities'+index+'">Количество</label>' +
                    '<input type="number" class="form-control" name="finance_products_quantities" id="finance_products_quantities'+index+'" value="' + (price ? price : "1") + '">' +
                    '</div>' +
                    '<div class="form-group col-sm-3">' +
                    '<label for="finance_money_amounts'+index+'">Цена</label>' +
                    '<input type="number" class="form-control" name="finance_money_amounts" id="finance_money_amounts'+index+'" value="' + (quantity ? quantity : "0") + '" finance_product_index="'+index+'">' +
                    '</div>' +
                    '</div>';

            $("#finance_operations_panel").append($(html));
            $("#finance_products_ids" + index).on("change", function() {
                var option = $('option:selected', this);
                var price = option.attr('price');
                $('#finance_money_amounts'+$(this).attr("finance_product_index")).val(price);
                countTotal();
            });

            $("#finance_money_amounts" + index).on("change", countTotal);
            $("#finance_products_quantities" + index).on("change", countTotal);
        }

        function countTotal() {
            var sum = 0;
            $( "input[name='finance_money_amounts']" ).each(function( index ) {
                var price = $(this).val();
                var quantity = $('#finance_products_quantities'+$(this).attr("finance_product_index")).val();
                sum += quantity*price;
            });
            $('#totalSum').html(sum);
        }

        {{#each document_finance_operations}}
            addFinanceOperationInputs({{this.product_id}}, {{this.quantity}}, {{this.money_amount}});
        {{/each}}
    });
</script>

<div class="container site-main">
    <form action="/documents/edit" method="post">
        <input type="hidden" name="id" value="{{document.id}}">

        <input type="hidden" name="contractor_id" id="contractor_id" value="{{document.contractor_id}}"/>
        <table id="contractors-table" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Группа</th>
                <th>Создание</th>
                <th>Описание</th>
                <th>Адрес</th>
                <th>Телефон</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <div class="form-group">
            <label for="payment_method_id">Тип платежа</label>
            {{#each payment_methods_list}}
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="payment_method_id" value="{{this.id}}" {{#ifCond this.id ../document.payment_method_id}}checked{{/ifCond}}>
                        {{this.name}}
                    </label>
                </div>
            {{/each}}
        </div>
        <div class="form-group">
            <label for="document_type_id">Тип документа</label>
            {{#each document_types_list}}
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="document_type_id" value="{{this.id}}" {{#ifCond this.id ../document.document_type_id}}checked{{/ifCond}}>
                        {{this.name}}
                    </label>
                </div>
            {{/each}}
        </div>

        <div class="form-group">
            <label for="creation">Дата</label>
            <input class="form-control col-3" type="datetime-local" name="creation" value="{{creation}}" id="creation">
        </div>

        <div class="form-group">
            <label for="agent_id">Агент</label>
            <select class="form-control col-2" id="agent_id" name="agent_id">
                <option value=""></option>
                {{#each agents_list}}
                    <option value="{{this.id}}" {{#ifCond this.id ../document.agent_id}}selected{{/ifCond}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="card">
            <div class="card-header">Финансовые операции</div>
            <div class="card-block" id="finance_operations_panel">
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-default btn-sm" id="finance_product_add">+</button>
            </div>
            <div class="card-footer text-muted">
                Итого: <span id="totalSum">0</span>
            </div>
        </div>
        <br/>
        <button class="btn btn-primary">Сохранить</button>
    </form>
</div>