<nav class="navbar navbar-inverse navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Fur495</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {{!--menuItem '/users' 'Пользователи' user.userroles--}}
                {{menuItem '/documents' 'Документы' user.userroles}}
                {{menuItem '/store_operations' 'Операции на складе' user.userroles}}
                {{menuItem '/finance_operations' 'Финансовые операции' user.userroles}}
                {{menuItem '/reports/products_balance' 'Склад' user.userroles}}
                {{#menuItemWithSubmenu 'Справочники'}}
                    {{menuItem '/products' 'Товары/Услуги' user.userroles}}
                    {{menuItem '/contractors' 'Контрагенты' user.userroles}}
                {{/menuItemWithSubmenu}}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">{{ user.login }}</p></li>
                <li><a href="/logout/" class="logout">Выйти</a></li>
            </ul>
        </div>

    </div>
</nav>
