<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/documents">CRM495</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                {{!--menuItem '/users' 'Пользователи' user.userroles--}}
                {{menuItem '/documents' 'Документы' user.userroles}}
                {{!--menuItem '/store_operations' 'Операции на складе' user.userroles--}}
                {{menuItem '/finance_operations' 'Финансовые операции' user.userroles}}
                {{menuItem '/reports/products_balance' 'Склад' user.userroles}}
                {{#menuItemWithSubmenu 'Справочники'}}
                    {{menuItemSubmenu '/products' 'Товары/Услуги' user.userroles}}
                    {{menuItemSubmenu '/contractors' 'Контрагенты' user.userroles}}
                {{/menuItemWithSubmenu}}
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><span class="navbar-text">{{ user.login }}</span></li>
                <li class="nav-item"><a href="/logout/" class="nav-link">Выйти</a></li>
            </ul>
    </div>
</nav>
