{{>main_head}}

<div class="container site-main">
    <form action="/products/edit" method="post">
        <input type="hidden" name="id" value="{{product.id}}">
        <div class="form-group">
            <label for="product_name">Название</label>
            <input class="form-control" name="product_name" id="product_name" value="{{product.name}}">
        </div>
        <div class="form-group">
            <label for="product_image">Ссылка на изображение</label>
            <input class="form-control" name="product_image" id="product_image" value="">
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" value="FALSE" name="service" {{#ifCond false product.service}}checked{{/ifCond}}>
                Продукт
            </label>
            <label class="form-check-label">
                <input class="form-check-input" type="radio" value="TRUE" name="service" {{#ifCond true product.service}}checked{{/ifCond}}>
                Услуга
            </label>
        </div>
        <div class="form-group">
            <label for="price">Цена</label>
            <input class="form-control col-md-2" type="number" name="price" id="price" value="{{product.price}}">
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="TRUE" name="show_to_public" {{#ifCond true product.show_to_public}}checked{{/ifCond}}>Показывать на публичном сайте
            </label>
        </div>
        <div class="form-group">
            <label for="group_id">Группа</label>
            {{#each product_group_list}}
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="product_group_id" value="{{this.id}}" {{#ifCond this.id ../product.product_group_id}}checked{{/ifCond}}>
                        {{this.name}}
                    </label>
                </div>
            {{/each}}
        </div>
        <button class="btn btn-primary">Сохранить</button>
    </form>
</div>